body{
    font-family: Arial;
    max-width: 500px;
    margin:2rem auto;
}
.form-register{
    font-size: 12px;
    margin-bottom: 20px;
}
.controls{
    width: 80%;
    padding: 6px;
}
select{
    width: 95%;
    padding: 10px;   
}
button{
    background-color: rgb(18, 105, 192);
    color: white;
    height: 35px;
    width: 15%;
}
.container{
    background-color: rgb(192, 170, 170);
    height: 100%;
    width: 100%;
    padding: 50px;
}